<div ng-cloak>
  <md-content md-scroll-y class="md-whiteframe-z1">
    <form name="reviewForm" novalidate>
      <div layout="column" layout-padding>
        <h2 class="md-display-1" translate="review.new.title">Create a Review</h2>
        <h3 translate="review.info">Review Info</h3>
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm="50">
            <label translate="review.reviewType">Review Type</label>
            <md-select name="reviewType" ng-model="review.reviewType" ng-model-options="{trackBy: '$value.id'}" ng-change="clearDropdowns(); toggleEngagementDropdowns(); populateShowReviewees(); populateProjects()" required>
              <md-option ng-value="reviewType" ng-repeat="reviewType in reviewTypes">{{ reviewType.name }}</md-option>
            </md-select>
            <div ng-messages="reviewForm.reviewType.$error" ng-if="reviewForm.$submitted || reviewForm.reviewType.$dirty">
              <div ng-message="required">
                <span translate="global.messages.validate.field.select.required" translate-values="{name: '{{ 'review.a.reviewType' | translate }}'}">Please select a value.</span>
              </div>
            </div>
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm="50" ng-hide="toggleEngagementDropdowns()">
            <label translate="review.project">Project</label>
            <md-select name="project" ng-model="review.project" ng-model-options="{trackBy: '$value.id'}" ng-change="clearReviewees(); populateShowReviewees(); populateYears()" ng-required="!toggleEngagementDropdowns()">
              <md-option ng-value="project" ng-repeat="project in projects">{{ project.name }}</md-option>
            </md-select>
            <div ng-messages="reviewForm.project.$error" ng-if="reviewForm.$submitted || reviewForm.project.$dirty">
              <div ng-message="required">
                <span translate="global.messages.validate.field.select.required" translate-values="{name: '{{ 'review.a.project' | translate }}'}">Please select a value.</span>
              </div>
            </div>
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm="50" ng-hide="!review.reviewType || !toggleEngagementDropdowns()">
            <label translate="review.reviewee">Reviewee</label>
            <md-select name="reviewee" ng-model="review.reviewee" ng-model-options="{trackBy: '$value.login'}" ng-required="toggleEngagementDropdowns()">
              <md-option ng-value="reviewee" ng-repeat="reviewee in reviewees">{{ reviewee.firstName }} {{ reviewee.lastName }}</md-option>
            </md-select>
            <div ng-messages="reviewForm.reviewee.$error" ng-if="reviewForm.$submitted || reviewForm.reviewee.$dirty">
              <div ng-message="required">
                <span translate="global.messages.validate.field.select.required" translate-values="{name: '{{ 'review.a.reviewee' | translate }}'}">Please select a value.</span>
              </div>
            </div>
          </md-input-container>
        </div>
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm="50" ng-hide="!review.reviewType || toggleEngagementDropdowns()">
            <label translate="review.reviewee">Reviewee</label>
            <md-select name="reviewee" ng-model="review.reviewee" ng-model-options="{trackBy: '$value.login'}" ng-required="!toggleEngagementDropdowns()">
              <md-option ng-value="reviewee" ng-repeat="reviewee in reviewees">{{ reviewee.firstName }} {{ reviewee.lastName }}</md-option>
            </md-select>
            <div ng-messages="reviewForm.reviewee.$error" ng-if="reviewForm.$submitted || reviewForm.reviewee.$dirty">
              <div ng-message="required">
                <span translate="global.messages.validate.field.select.required" translate-values="{name: '{{ 'review.a.reviewee' | translate }}'}">Please select a value.</span>
              </div>
            </div>
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm="50" ng-hide="toggleEngagementDropdowns()">
            <label translate="review.quarter">Quarter</label>
            <md-select name="quarter" ng-model="quarter" ng-required="!toggleEngagementDropdowns()">
              <md-option value="1">Quarter 1</md-option>
              <md-option value="2">Quarter 2</md-option>
              <md-option value="3">Quarter 3</md-option>
              <md-option value="4">Quarter 4</md-option>
            </md-select>
            <div ng-messages="reviewForm.quarter.$error" ng-if="reviewForm.$submitted || reviewForm.quarter.$dirty">
              <div ng-message="required">
                <span translate="global.messages.validate.field.select.required" translate-values="{name: '{{ 'review.a.quarter' | translate }}'}">Please select a value.</span>
              </div>
            </div>
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm="50" ng-hide="toggleEngagementDropdowns()">
            <label translate="review.year">Year</label>
            <md-select name="year" ng-model="year" ng-required="!toggleEngagementDropdowns()">
              <md-option ng-repeat="year in years" value="{{ year }}">{{ year }}</md-option>
            </md-select>
            <div ng-messages="reviewForm.year.$error" ng-if="reviewForm.$submitted || reviewForm.year.$dirty">
              <div ng-message="required">
                <span translate="global.messages.validate.field.select.required" translate-values="{name: '{{ 'review.a.year' | translate }}'}">Please select a value.</span>
              </div>
            </div>
          </md-input-container>
        </div>
        <div layout="row">
          <span flex></span>
          <md-button type="submit" ng-click="save($event)" class="md-primary" translate="entity.action.save">Save</md-button>
        </div>
      </div>
    </form>
  </md-content>
</div>
