<div ng-cloak>
  <md-content md-scroll-y class="md-whiteframe-z1">
    <form name="reviewForm" novalidate>
      <div layout="column">
        <h2 layout-padding class="md-display-1" role="header">
          {{ reviewTitle }}
        </h2>
        <md-card>
          <md-toolbar class="md-accent md-whiteframe-z1">
            <div class="md-toolbar-tools">
              <h2 translate="review.annual.reviewInformation">Review Information</h2>
            </div>
          </md-toolbar>
          <md-card-content>
            <div layout-gt-xs="row">
              <div layout="row" flex-gt-xs>
                <strong flex translate="review.annual.reviewType">Review Type:</strong>
                <span flex>{{ review.reviewType.name }}</span>
              </div>
              <div layout="row" flex-gt-xs>
                <strong flex translate="review.annual.startDate">Start Date:</strong>
                <span flex>{{ review.startDate | date:'MM/dd/yyyy' }}</span>
              </div>
            </div>
            <div layout-gt-xs="row">
              <div layout="row" flex-gt-xs flex-order-gt-xs="2">
                <strong flex translate="review.annual.endDate">End Date:</strong>
                <span flex>{{ review.endDate | date:'MM/dd/yyyy' }}</span>
              </div>
              <div layout="row" flex-gt-xs flex-order-gt-xs="1">
                <strong flex translate="review.annual.reviewer">Reviewer:</strong>
                <span flex>{{ review.reviewer.firstName }} {{ review.reviewer.lastName }}</span>
              </div>
            </div>
            <div layout-gt-xs="row">
              <div layout="row" flex-gt-xs>
                <strong flex translate="review.annual.status">Status:</strong>
                <span flex>{{ review.reviewStatus.name }}</span>
              </div>
              <div layout="row" flex-gt-xs>
                <strong flex ng-show="!isAnnual()">Role:</strong>
                <span flex ng-show="!isAnnual()">{{ review.role }}</span>
              </div>
            </div>
            <div layout-gt-xs="row">
              <div layout="row" flex-gt-xs>
                <strong flex ng-show="!isAnnual()">Project:</strong>
                <span flex ng-show="!isAnnual()">{{ review.project }}</span>
              </div>
              <div layout="row" flex-gt-xs>
              </div>
            </div>
          </md-card-content>
        </md-card>

        <div ui-view="todo"></div>
        
        <md-tabs md-dynamic-height md-border-bottom ng-if="isAnnual()">
          <md-tab label="peers">
            <div ui-view="peers"></div>
          </md-tab>
          <md-tab label="engagements">
            <div ui-view="engagements"></div>
          </md-tab>
          <md-tab label="goals">
            <div ui-view="goals"></div>
          </md-tab>
          <md-tab label="evaluation">
            <div ui-view="evaluation"></div>
          </md-tab>
          <md-tab label="overall">
            <div ui-view="overall"></div>
          </md-tab>
        </md-tabs>
        
        <md-tabs md-dynamic-height md-border-bottom ng-if="!isAnnual()">
          <md-tab label="deliverables">
            <div ui-view="goals"></div>
          </md-tab>
          <md-tab ng-if="!isRevieweeAndFeedbackOpen">
              <md-tab-label>
                evaluation <i class="fa fa-exclamation-circle etm-error" ng-if="evaluationInvalid"></i>
              </md-tab-label>
              <md-tab-body>
                  <div ui-view="evaluation"></div>
              </md-tab-body>
          </md-tab>
          <md-tab label="overall" ng-if="!isRevieweeAndFeedbackOpen">
              <md-tab-label>
                  overall <i class="fa fa-exclamation-circle etm-error" ng-if="overallInvlaid"></i>
                </md-tab-label>
                <md-tab-body>
                    <div ui-view="overall"></div>
                </md-tab-body>
          </md-tab>
        </md-tabs>
      </div>
    </form>
  </md-content>
</div>