<div ng-cloak>
  <md-content md-scroll-y class="md-whiteframe-z1">
    <form name="reviewForm" novalidate>
      <div layout="column" layout-padding>
        <h2 class="md-display-1" translate="review.new.title">Create a Review</h2>
        <h3 translate="review.info">Review Info</h3>
        <div layout-gt-sm="row">
          <!-- REVIEW TYPE -->
          <md-input-container class="md-block" flex-gt-sm="50">
            <input aria-label="review type" name="reviewType" ng-model="reviewType" ng-readonly=true>
          </md-input-container>
          <!-- // REVIEW TYPE -->

          <!-- REVIEWEE -->
          <md-autocomplete
            flex-gt-sm="50"
            md-no-cache="true"
            md-selected-item="selectedItem"
            md-item-text="user.firstName + ' ' + user.lastName"
            md-selected-item-change="setReviewee(user)"
            md-search-text="searchText"
            md-min-length="3"
            name="reviewee"
            md-floating-label="Reviewee (type to search)"
            md-items="user in getMatches(searchText)"
            ng-required="true"
            md-require-match="true">
            <md-item-template>
              <span md-highlight-text="searchText">{{user.firstName}} {{user.lastName}}</span>
            </md-item-template>
            <md-not-found>No peers matching "{{ searchText }}" were found.</md-not-found>
            <div ng-messages="reviewForm.reviewee.$error" ng-if="reviewForm.$submitted || reviewForm.reviewee.$dirty">
              <div ng-message="required">
                <span>Please select a Reviewee.</span>
              </div>
            </div>
          </md-autocomplete>
          <!-- //REVIEWER -->

          <!-- PROJECT -->
          <md-input-container class="md-block" flex-gt-sm="50">
           <label translate="review.project">Project</label>
            <input ng-model="review.project" name="project" ng-required="true">
            <div ng-messages="reviewForm.project.$error" ng-if="reviewForm.$submitted || reviewForm.project.$dirty">
              <div ng-message="required">
                <span>Please enter a value.</span>
              </div>
            </div>
          </md-input-container>
          <!-- // PROJECT -->
        </div>
        <div layout-gt-sm="row">
          <!-- Role -->
          <md-input-container class="md-block" flex-gt-sm="50">
           <label translate="review.role">Role</label>
            <input ng-model="review.role" name="role">
          </md-input-container>
          <!-- // Role -->
          <!-- DATES -->
          <div class="etm-datepicker-container">
            <md-datepicker ng-model="review.startDate" name="startDate" ng-disabled="disableStartEndDate" ng-required="!disableStartEndDate" md-placeholder="Start Date"></md-datepicker>
            <div ng-messages="reviewForm.startDate.$error" ng-if="reviewForm.$submitted || reviewForm.startDate.$dirty">
              <div ng-message="required">
                <span>Please enter a value.</span>
              </div>
            </div>
          </div>
          <div class="etm-datepicker-container">
            <md-datepicker ng-model="review.endDate" name="endtDate" ng-disabled="disableStartEndDate" ng-required="!disableStartEndDate" md-placeholder="End Date"></md-datepicker>
            <div ng-messages="reviewForm.startDate.$error" ng-if="reviewForm.$submitted || reviewForm.endtDate.$dirty">
              <div ng-message="required">
                <span>Please enter a value.</span>
              </div>
            </div>
          </div>
          <!-- //DATES -->
          <!-- <md-input-container class="md-block" flex-gt-sm="25">
            <label>Start Date</label>
            <input
              type="date"
              name="startDate"
              ng-disabled="disableStartEndDate"
              ng-model="review.startDate"
              ng-required="!disableStartEndDate"/>
              <div ng-messages="reviewForm.startDate.$error" ng-if="reviewForm.$submitted || reviewForm.project.$dirty">
                <div ng-message="required">
                  <span>Please enter a value.</span>
                </div>
              </div>
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm="25">
            <label>End Date</label>
            <input
              type="date"
              name="endtDate"
              ng-disabled="disableStartEndDate"
              ng-model="review.endDate"
              ng-required="!disableStartEndDate"/>
              <div ng-messages="reviewForm.startDate.$error" ng-if="reviewForm.$submitted || reviewForm.project.$dirty">
                <div ng-message="required">
                  <span>Please enter a value.</span>
                </div>
              </div>
          </md-input-container> -->
        </div>
        <!-- DATE RANGE -->
        <!--
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm="50">
            <span translate="review.engagement.dateRange">Engagement Review Date Range: </span>
            <span ng-show="review.startDate">{{ review.startDate }} - {{ review.endDate }}</span>
          </md-input-container>
        </div>
        -->
        <!-- //Date Range -->
        <!-- Quarter -->
        <!--
        <div layout-gt-sm="row" class="virtualRepeatdemoHorizontalUsage">
          <md-input-container layout="row" layout-align="center center" flex-gt-sm="100">
            <md-button ng-click="getQuarters('back')">Back</md-button>
            <md-virtual-repeat-container id="horizontal-container" md-orient-horizontal>
              <div md-virtual-repeat="quarter in quarters" class="repeat-div">
                <md-button class="repeated-item" ng-disabled="quarter.isReadOnly" ng-click="applyQuarter(quarter)">{{ quarter.startDate }} - {{ quarter.endDate }}</md-button>
              </div>
            </md-virtual-repeat-container>
            <md-button ng-click="getQuarters('next')">Next</md-button>
          </md-input-container>
        </div>
        -->
        <!-- //Quarter -->
        <div layout="row">
          <span flex></span>
          <md-button type="submit" ng-click="save($event)" class="md-primary" translate="entity.action.save">Create</md-button>
        </div>
      </div>
    </form>
  </md-content>
</div>
