<div ng-cloak>
  <md-content md-scroll-y class="md-whiteframe-z1">
    <form name="reviewForm" novalidate>
      <div layout="column" layout-padding>
        <h2 class="md-display-1" translate="review.new.title">Create a Review</h2>
        <h3 translate="review.info">Review Info</h3>
        <div layout-gt-sm="row">
          <!-- REVIEW TYPE -->
          <md-input-container class="md-block" flex-gt-sm="50">
            <input name="reviewType" ng-model="reviewType" ng-readonly=true>
          </md-input-container>
          <!-- // REVIEW TYPE -->

          <!-- REVIEWER -->
          <md-autocomplete flex-gt-sm="50"
            md-no-cache="true"
            md-selected-item="selectedItem"
            md-item-text="user.firstName + ' ' + user.lastName"
            md-selected-item-change="setReviewer(user)"
            md-search-text="searchText"
            md-min-length="3"
            md-floating-label="Reviewer (type to search)"
            md-items="user in getMatches(searchText)">
            <md-item-template>
              <span md-highlight-text="searchText">{{user.firstName}} {{user.lastName}}</span>
            </md-item-template>
            <md-not-found>No peers matching "{{ searchText }}" were found.</md-not-found>
          </md-autocomplete>
          <!-- //REVIEWER -->
          
          <!-- PROJECT -->
          <md-input-container class="md-block" flex-gt-sm="50">
           <label translate="review.project">Project</label>
            <input ng-model="review.project">
            <div ng-messages="reviewForm.project.$error" ng-if="reviewForm.$submitted || reviewForm.project.$dirty">
              <div ng-message="required">
                <span translate="global.messages.validate.field.select.required" translate-values="{name: '{{ 'review.a.project' | translate }}'}">Please select a value.</span>
              </div>
            </div>
          </md-input-container>
          <!-- // PROJECT -->
        </div>
        <div layout-gt-sm="row">
          <!-- DATE RANGE -->
          <md-input-container class="md-block" flex-gt-sm="50">
            <span translate="review.engagement.dateRange">Engagement Review Date Range: </span>
            <span ng-show="review.startDate">{{ review.startDate }} - {{ review.endDate }}</span>
          </md-input-container>
          <!-- //Date Range -->
        </div>
        <div layout-gt-sm="row" class="virtualRepeatdemoHorizontalUsage">
          <!-- Quarter -->
          <md-input-container layout="row" layout-align="center center" flex-gt-sm="100">
            <md-button ng-click="getQuarters('back')">Back</md-button>
            <md-virtual-repeat-container id="horizontal-container" md-orient-horizontal>
              <div md-virtual-repeat="quarter in quarters" class="repeat-div">
                <md-button class="repeated-item" ng-disabled="quarter.isReadOnly" ng-click="applyQuarter(quarter)">{{ quarter.startDate }} - {{ quarter.endDate }}</md-button>
              </div>
            </md-virtual-repeat-container>
            <md-button ng-click="getQuarters('next')">Next</md-button>
          </md-input-container>
          <!-- //Quarter -->
        </div>
        <div layout="row">
          <span flex></span>
          <md-button type="submit" ng-click="save($event)" class="md-primary" translate="entity.action.save">Create</md-button>
        </div>
      </div>
    </form>
  </md-content>
</div>
