<div>

    <h2>Goals</h2>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" data-toggle="modal" data-target="#saveGoalModal" ng-click="clear()">
                    <span class="glyphicon glyphicon-flash"></span> <span>Create a new Goal</span>
                </button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="saveGoalModal" tabindex="-1" role="dialog" aria-labelledby="myGoalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="editForm" role="form" novalidate ng-submit="save()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myGoalLabel">Create or edit a Goal</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="goal.id" readonly>
                        </div>

                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control" name="name"
                                   ng-model="goal.name">

                        </div>
                        <div class="form-group">
                            <label>Note</label>
                            <input type="text" class="form-control" name="note"
                                   ng-model="goal.note">

                        </div>
                        <div class="form-group">
                            <label>TargetDate</label>
                            <input type="date" class="form-control" name="targetDate"
                                   ng-model="goal.targetDate">

                        </div>
                        <div class="form-group">
                            <label>CompletionDate</label>
                            <input type="date" class="form-control" name="completionDate"
                                   ng-model="goal.completionDate">

                        </div>

                        <div class="form-group">
                            <label>review</label>
                            <select class="form-control" name="review" ng-model="goal.review.id" ng-options="review.id as review.title for review in reviews">
                            </select>
                        </div>
                        <div class="form-group">
                            <label>author</label>
                            <select class="form-control" name="author" ng-model="goal.author.id" ng-options="user.id as user.firstName for user in users">
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteGoalConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(goal.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete this Goal?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span>Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Note</th>
                    <th>TargetDate</th>
                    <th>CompletionDate</th>
                    <th>review</th>
                    <th>author</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="goal in goals">
                    <td><a ui-sref="goalDetail({id:goal.id})">{{goal.id}}</a></td>
                    <td>{{goal.name}}</td>
                    <td>{{goal.note}}</td>
                    <td>{{goal.targetDate}}</td>
                    <td>{{goal.completionDate}}</td>
                    <td>{{goal.review.title}}</td>
                    <td>{{goal.author.firstName}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="goalDetail({id:goal.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> View</span>
                        </button>
                        <button type="submit"
                                ng-click="showUpdate(goal.id)"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(goal.id)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
