<md-dialog aria-label="Users Rating for Skill : {{ skill.name }}" flex="40" style="margin-top:10px;">
  <form name="skillCategoryForm">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Users Rating for Skill : {{ skill.name }}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-font-icon="fa fa-lg fa-close" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content class="md-dialog-content">
     <md-input-container>
        <label for="filter" translate="">Search Users</label>
        <input type="text" id="filter" ng-model="filter">
     </md-input-container>
     <md-list>
       <md-list-item ng-repeat="ranking in skill.rankings | filter:filter | orderBy: '-rank'">
         <!--  <p> {{ ranking.user.login }}</p>
          <p> {{ ranking.rank  }} </p> -->
          <md-icon md-font-icon="fa fa-user fa-2x" class="md-avatar md-primary"></md-icon>
          <div class="md-list-item-text" flex>
            <p>{{ ranking.user.login }}</p>
            <p>Rank: {{ ranking.rank  }}<p>
          </div>
        </md-list-item>
      </md-list>
    </md-dialog-content>
  </form>
</md-dialog>
