<h2 class="etm-email-greeting">Hello <span th:text="${FIRST_NAME}"></span></h2>
<p>Just a reminder to let you know that your annual review is due in 2 months. Please complete the annual review prior to your anniversary date. Please work with your counselor and/or your project manager(s) to make sure the reviews are started/completed.

Please do not reply to this e-mail. This message came from an automated mailbox.

Thank you. 
</p>
<a class="button medium" th:href="${BASE_URL}">Go to app here</a>