## Gradle .gitignore
.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar


## Java .gitignore
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


target
node
node_modules
.idea
*.iml
.classpath
.project
.settings
.tmp
temp
.merge_file*
.sass-cache
.DS_Store
src/main/webapp/dist
.gradle
build
/bin/
docs/er-diagram.mwb.bak
