<div ng-cloak>
  <div class="layout-padding">
	  <br ng-if="goals.length == 0" />
	  <div ng-if="goals.length == 0">No deliverables have been created for this review</div>
	  <md-list>
	    <md-list-item class="md-3-line goal" ng-repeat="goal in goals" ng-click="editGoal(goal, $event)">
	      <md-icon md-font-icon="{{ getIcon(goal.completionDate)}}" style="color: {{getColor(goal.completionDate)}}" class="status-icon {{getIcon(goal.completionDate)}}"></md-icon>
	      <div class="md-list-item-text">
	        <p class="md-title">Deliverable: {{goal.name | limitTo:fieldLimit()}}</p>
	        <p class="md-title">Target Date: {{goal.targetDate | date:'MM/dd/yyyy'}} - Completion Date: {{goal.completionDate | date:'MM/dd/yyyy'}}</p>
	        <p class="md-title">Measure of Success: <span class="md-subhead">{{goal.description | limitTo:fieldLimit()}}</span></p>        
	        <p class="md-title" ng-if="goal.reviewerComment">Reviewer Comment: <span class="md-subhead">{{goal.reviewerComment | limitTo:fieldLimit()}}</span></p>          
	      </div>
	    </md-list-item>
	  </md-list>
  </div>
</div>
