<md-dialog flex="65">
  <form name="goalForm" novalidate>
    <md-toolbar class="md-accent md-whiteframe-z1">
      <div class="md-toolbar-tools">
        <h2 translate="review.engagement.deliverables.deliverableDetailHeader">Fill out fields to create deliverable</h2>
        <span flex></span>
      </div>
    </md-toolbar>
    <md-dialog-content class="md-dialog-content">
      <md-input-container class="md-block">
        <label translate="review.engagement.deliverables.deliverable">Deliverable</label>
        <textarea ng-disabled="(!isReviewee && !isReviewer) || isFeedbackSubmitted" name="goal" ng-model="goal.name" required md-maxlength="3000"></textarea>
        <div ng-messages="goalForm.goal.$error" ng-if="goalForm.$submitted || goalForm.goal.$dirty || goalForm.goal.$touched">
          <div ng-message="required">
            <span translate="global.messages.validate.field.enter.required" translate-values="{name: '{{ 'Deliverable' | translate }}'}">Please enter a Deliverable.</span>
          </div>
          <div ng-message="md-maxlength">
            <span translate="global.messages.validate.field.maxlength" translate-values="{name: '{{ 'Deliverable' | translate }}', number: '{{ '3000' | translate}}'}">Deliverable cannot be larger than 3000 characters.</span>
          </div>
        </div>
      </md-input-container> 
      <md-input-container class="md-block">
        <label>Measure of Success</label>
        <textarea name="description" ng-disabled="(!isReviewee && !isReviewer) || isFeedbackSubmitted" ng-model="goal.description" md-maxlength="3000"></textarea>
        <div ng-messages="goalForm.description.$error" ng-if="goalForm.$submitted || goalForm.goal.$dirty || goalForm.goal.$touched">
          <div ng-message="md-maxlength">
            <span translate="global.messages.validate.field.maxlength" translate-values="{name: '{{ 'Measure of Success' | translate }}', number: '{{ '3000' | translate}}'}">Measure of Success cannot be larger than 3000 characters.</span>
          </div>
        </div>
      </md-input-container> 
      <div layout-gt-sm="row">
        <div class="etm-datepicker-container goals-date-picker" flex="30">
          <md-datepicker ng-model="goal.targetDate" ng-disabled="(!isReviewee && !isReviewer) || isFeedbackSubmitted" name="targetDate" md-placeholder="Target Date"></md-datepicker>
          <div ng-messages="goalForm.targetDate.$error" ng-if="goalForm.$submitted || goalForm.targetDate.$dirty">
            <div ng-message="required">
              <span>Target date is required</span>
            </div>
          </div>
        </div>
        <!-- <md-input-container class="md-block" flex-gt-xs>
          <label translate="review.engagement.deliverables.targetDate">Target Date</label>
          <input type="date" ng-disabled="!isReviewee && !isReviewer" name="targetDate" ng-model="goal.targetDate"/>
        </md-input-container> -->
        <md-switch flex="15" class="md-primary" ng-model="switchCompletion" ng-disabled="(!isReviewee && !isReviewer) || isFeedbackSubmitted">{{ switchCompletion ? 'Complete' : 'Incomplete' }}</md-switch>
        
        <div class="etm-datepicker-container goals-date-picker" flex="35">
          <md-datepicker name="completionDate" ng-disabled="!switchCompletion" ng-model="goal.completionDate" ng-required="switchCompletion" md-placeholder="Completion Date"></md-datepicker>
            <div ng-messages="goalForm.completionDate.$error" ng-if="goalForm.$submitted || goalForm.completionDate.$dirty">
              <div ng-message="required">
                <span>Target date is required</span>
              </div>
            </div>
        </div>
        <!-- <md-input-container class="md-block" flex-gt-xs>
          <label translate="review.engagement.deliverables.completionDate">Completion Date</label>
          <input type="date" name="completionDate" ng-disabled="!isReviewee && !isReviewer && !switchCompletion" ng-model="goal.completionDate" ng-required="switchCompletion"/>
        </md-input-container> -->
      </div>
	  <md-input-container class="md-block">
        <label translate="review.engagement.deliverables.employeeComment">Reviewee Comment</label>
        <textarea name="employeeComment" ng-disabled="!isReviewee || isFeedbackSubmitted" ng-model="goal.employeeComment" md-maxlength="3000"></textarea>
        <div ng-messages="goalForm.employeeComment.$error" ng-if="goalForm.$submitted || goalForm.goal.$dirty || goalForm.goal.$touched">
          <div ng-message="md-maxlength">
            <span translate="global.messages.validate.field.maxlength" translate-values="{name: '{{ 'Employee Comments' | translate }}', number: '{{ '3000' | translate}}'}">Employee Comments cannot be larger than 3000 characters.</span>
          </div>
        </div>
      </md-input-container>
      <md-input-container class="md-block">
        <label translate="review.engagement.deliverables.reviewerComment">Reviewer Comment</label>
        <textarea name="reviewerComment" ng-disabled="!isReviewer || isFeedbackSubmitted" ng-model="goal.reviewerComment" md-maxlength="3000"></textarea>
        <div ng-messages="goalForm.reviewerComment.$error" ng-if="goalForm.$submitted || goalForm.goal.$dirty || goalForm.goal.$touched">
            <div ng-message="required">
                <span>Please enter a comment.</span>
              </div>
          <div ng-message="md-maxlength">
            <span translate="global.messages.validate.field.maxlength" translate-values="{name: '{{ 'Reviewer Comments' | translate }}', number: '{{ '3000' | translate}}'}">Reviewer Comments cannot be larger than 3000 characters.</span>
          </div>
        </div>
      </md-input-container>
    </md-dialog-content>
    <md-dialog-actions>
      <span flex></span>
      <md-button ng-click="cancel()" class="md-primary" translate="review.engagement.deliverables.cancel">Cancel</md-button>
      <md-button type="submit" ng-click="hide()" class="md-primary md-raised" ng-disabled="(!isReviewee && !isReviewer) || isFeedbackSubmitted" translate="review.engagement.deliverables.save">Save</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
