<div ng-cloak>
  <md-list>
    <md-list-item class="md-3-line" ng-repeat="goal in goals" ng-click="editGoal(goal, $event)">
      <span ng-if="goal.completionDate" layout-padding>
        <md-icon md-font-icon="fa fa-lg fa-check-circle-o" style="color:green"></md-icon>
      </span>
      <span ng-if="!goal.completionDate" layout-padding>
        <md-icon md-font-icon="fa fa-lg fa-circle-o"></md-icon>
      </span>
      <div class="md-list-item-text" layout="column">
        <md-content>
          <h3>Goal Title: {{goal.name}}</h3>
        </md-content>
        <md-content>
          <h4>Description: {{goal.description}}</h4>
        </md-content>
        <md-content>
          <h4>Target Date: {{goal.targetDate | date:'MM/dd/yyyy'}} - Completion Date: {{goal.completionDate | date:'MM/dd/yyyy'}}</h4>
        </md-content>
        <md-content>
          <p>Notes: {{goal.notes}}</p>          
        </md-content>
      </div>
      <md-icon md-font-icon="fa fa-lg fa-trash" class="md-secondary" aria-label="Delete Goal" ng-click="deleteGoal(goal, $event)"></md-icon>
    </md-list-item>
    <md-button class="md-raised" ng-click="addGoal($event)" translate="review.annual.goals.addGoal">Add Goal</md-button>
  </md-list>
</div>
