<div ng-cloak>
  <md-content md-scroll-y class="md-whiteframe-z1">
    <div layout="column" layout-padding>
      <h2>Admin Settings</h2>

      <table class="admin-table">
        <thead>
          <tr>
            <th>Key</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{erStartDate.description}}</td>
            <td>
              <md-datepicker 
                ng-model="erStartDate.value"
                md-placeholder="Start date"
                ng-change="save(erStartDate)"></md-datepicker>
                <md-button ng-click="delete(erStartDate)" class="md-raised">Clear</md-button>
            </td>
          </tr>
          <tr>
            <td>{{erEndDate.description}}</td>
            <td>
              <md-datepicker 
                ng-model="erEndDate.value"
                ng-change="save(erEndDate)"
                md-placeholder="Start date"
                ng-required="true"></md-datepicker>
                <md-button ng-click="delete(erEndDate)" class="md-raised">Clear</md-button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </md-content>
</div>