<md-toolbar class="md-whiteframe-z1">
  <h1 class="md-toolbar-tools">
    <img class="perficient-logo-sm" src="/assets/images/Perficient-Logo-Reversed_Small.png" alt="Perficient Logo" height="50px"/>
    <a href="#"><span translate="global.title">ETM</span> <span class="navbar-version">v{{VERSION}}</span></a>
    <span flex></span>
    <md-button id="right-nav-toggle" class="md-fab md-primary" ng-click="toggleRightNav()" aria-label="Open Right Nav">
      <i class="fa fa-lg fa-bars"></i>
    </md-button>
  </h1>
</md-toolbar>