<div>
  <div layout="row" class="etm-error" ng-show="authenticationError">
    <span flex="33" offset="33" translate="login.messages.error.authentication">
      <strong>Authentication failed!</strong> Please check your credentials and try again.
    </span>
  </div>
  <div layout="row" class="md-whiteframe-z1">
  	<div layout="column" flex="33" offset="33">
      <h2 class="md-display-1" translate="login.title">Log In</h2>

      <form name="loginForm" role="form">
      	<div layout="column">
          <md-input-container>
            <label for="username" translate="global.form.username">User Name</label>
            <input type="text" id="username" ng-model="username">
          </md-input-container>
          <md-input-container>
            <label for="password" translate="login.form.password">Password</label>
            <input type="password" id="password" ng-model="password">
          </md-input-container>
          <md-input-container>
          	<md-checkbox id="rememberMe" class="md-primary" ng-model="rememberMe">{{"login.form.rememberme" | translate}}</md-checkbox>
          </md-input-container>
          <md-input-container layout="row">
            <md-button flex="33" class="md-raised md-primary" type="submit" ng-click="login()" translate="login.form.button">Log In</md-button>
          </md-input-container>
        </div>
      </form>
    </div>
  </div>
</div>
