<div ng-cloak>
  <md-content md-scroll-y class="md-whiteframe-z1">
    <div layout="column" layout-padding>
      <h2 translate="users.title">Manage Users</h2>
      <md-input-container class="md-block" flex-gt-xs>
	    <label>Search for User</label>
	    <input name="userText" ng-model="userText" ng-change="findUsers($event)">
	  </md-input-container>
      <md-list ng-show="foundUsers">
        <md-list-item class="md-3-line" ng-repeat="foundUser in foundUsers" ng-click="viewUserDetails(foundUser, $event)">
          <md-icon md-font-icon="fa fa-user fa-3x" class="md-avatar md-accent"></md-icon>
          <div class="md-list-item-text">
            <h3>{{foundUser.firstName}} {{foundUser.lastName}}</h3>
            <h4>{{foundUser.login}}</h4>
            <p>{{foundUser.email}}</p>
            <md-icon md-font-icon="fa fa-trash-o fa-lg" class="md-secondary" ng-click="deleteUser(foundUser, $event)" aria-label="Delete User"></md-icon>
          </div>
        </md-list-item>
      </md-list>

    </div>
  </md-content>
</div>
