<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title th:text="#{email.review.start.title}">New Review process has started</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <p th:text="#{email.review.start.greeting('Test')}">
      Dear
    </p>
    <p th:text="#{email.review.start.text1}">
      A new review process has been started for you. Please follow the next link to review it's status
    </p>
    <p>
      <span th:text="#{email.review.start.text2}">Regards, </span>
      <br/>
      <em th:text="#{email.signature}">etm Team.</em>
    </p>
  </body>
</html>
