gocd.slack {
  login = "{{ slack_user }}"
  password = "{{ slack_user_password }}"
  server-host = "https://stlerappdev.perficient.com:8154/"
  webhookUrl = "{{ slack_webhook_url }}"
  slackDisplayName = "gocd"

  pipelines = [{
    name = ".*"
    stage = ".*"
    state = "failed|broken"
  }, {
    name = "etm-deploy-(test|uat|prod)"
    stage = "verify"
    state = "passed|fixed"
  }]
}
