<div>

    <h2>Feedbacks</h2>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" data-toggle="modal" data-target="#saveFeedbackModal" ng-click="clear()">
                    <span class="glyphicon glyphicon-flash"></span> <span>Create a new Feedback</span>
                </button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="saveFeedbackModal" tabindex="-1" role="dialog" aria-labelledby="myFeedbackLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="editForm" role="form" novalidate ng-submit="save()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myFeedbackLabel">Create or edit a Feedback</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="feedback.id" readonly>
                        </div>


                        <div class="form-group">
                            <label>review</label>
                            <select class="form-control" name="review" ng-model="feedback.review.id" ng-options="review.id as review.title for review in reviews">
                            </select>
                        </div>
                        <div class="form-group">
                            <label>author</label>
                            <select class="form-control" name="author" ng-model="feedback.author.id" ng-options="user.id as user.firstName for user in users">
                            </select>
                        </div>
                        <div class="form-group">
                            <label>feedbackType</label>
                            <select class="form-control" name="feedbackType" ng-model="feedback.feedbackType.id" ng-options="feedbackType.id as feedbackType.name for feedbackType in feedbacktypes">
                            </select>
                        </div>
                        <div class="form-group">
                            <label>feedbackStatus</label>
                            <select class="form-control" name="feedbackStatus" ng-model="feedback.feedbackStatus.id" ng-options="feedbackStatus.id as feedbackStatus.name for feedbackStatus in feedbackstatuss">
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteFeedbackConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(feedback.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete this Feedback?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span>Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>review</th>
                    <th>author</th>
                    <th>feedbackType</th>
                    <th>feedbackStatus</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="feedback in feedbacks">
                    <td><a ui-sref="feedbackDetail({id:feedback.id})">{{feedback.id}}</a></td>
                    <td>{{feedback.review.title}}</td>
                    <td>{{feedback.author.firstName}}</td>
                    <td>{{feedback.feedbackType.name}}</td>
                    <td>{{feedback.feedbackStatus.name}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="feedbackDetail({id:feedback.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> View</span>
                        </button>
                        <button type="submit"
                                ng-click="showUpdate(feedback.id)"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(feedback.id)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
