<div ng-cloak>
  <md-content md-scroll-y class="md-whiteframe-z1">
    <div layout="column" layout-padding>
      <h2 translate="audits.title">Audits</h2>
    
      <h4 translate="audits.filter.title">Filter by Date</h4>
      <div layout-gt-xs="row">
        <md-input-container class="md-block" flex-gt-xs>
          <label for="fromDate" translate="audits.filter.from">From Date</label>
          <input type="date" id="fromDate" name="start" ng-model="fromDate" ng-change="onChangeDate()" required>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-xs>
          <label for="toDate" translate="audits.filter.to">To Date</label>
          <input type="date" id="toDate" name="end" ng-model="toDate" ng-change="onChangeDate()" required>
        </md-input-container>
      </div>
    
      <table class="admin-table">
        <thead>
          <tr>
            <th ng-click="predicate = 'timestamp'; reverse=!reverse">{{ 'audits.table.header.date' | translate }}</th>
            <th ng-click="predicate = 'principal'; reverse=!reverse">{{ 'audits.table.header.principal' | translate }}</th>
            <th ng-click="predicate = 'type'; reverse=!reverse">{{ 'audits.table.header.status' | translate }}</th>
            <th ng-click="predicate = 'data.message'; reverse=!reverse">{{ 'audits.table.header.data' | translate }}</th>
          </tr>
        </thead>
    
        <tr ng-repeat="audit in audits | filter:filter | orderBy:predicate:reverse" ng-hide="audit.filtered">
          <td><span>{{ audit.timestamp| date:'medium' }}</span></td>
          <td><small>{{ audit.principal }}</small></td>
          <td>{{ audit.type }}</td>
          <td>
            <span ng-show="audit.data.message">{{ audit.data.message }}</span>
            <span ng-show="audit.data.remoteAddress">{{ 'audits.table.data.remoteAddress' | translate }} {{ audit.data.remoteAddress }}</span>
          </td>
        </tr>
      </table>
    </div>
  </md-content>
</div>
