<div ng-cloak>
  <md-content md-scroll-y class="md-whiteframe-z1">
    <div layout="column" layout-padding>
      <h2 translate="configuration.title">configuration</h2>
    
      <md-input-container>
        <label for="filter" translate="configuration.filter">Filter</label>
        <input type="text" id="filter" ng-model="filter">
      </md-input-container>
    
      <table class="admin-table">
        <thead>
          <tr>
            <th ng-click="predicate = 'prefix'; reverse=!reverse">{{ 'configuration.table.prefix' | translate }}</th>
            <th>{{ 'configuration.table.properties' | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="entry in configuration | filter:filter | orderBy:predicate:reverse">
            <td>{{ entry.prefix }}</td>
            <td>
              <div ng-repeat="(key, value) in entry.properties">
                <span>
                  <md-tooltip ng-if="value">{{ value }}</md-tooltip>
                  <i class="fa fa-info-circle" ng-if="value"></i>
                  {{ key }}
                </span>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </md-content>
</div>
