<div ng-cloak>

	<md-card> <md-toolbar>
	<div class="overall-header md-toolbar-tools">
		<h2>Composite Scores</h2>
	</div>
	</md-toolbar> <md-card-content> 
	<md-grid-list md-cols-sm="1" md-cols-md="1" md-cols-lg="2" md-cols-gt-lg="2" md-gutter="5px" md-row-height-sm="4:1" md-row-height-md="4:1"  md-row-height-lg="4:1" md-row-height-gt-lg="5:1">
		<md-grid-tile class="gray" md-rowspan="1" md-colspan="1" md-colspan-sm="1">
			<md-list-item>
				<div layout="column" layout-align="center start" layout-margin>
					<md-icon md-font-icon="fa fa-user fa-lg" class="md-primary fa fa-user fa-4x" style="height: auto;"
							aria-hidden="true" layout-margin> </md-icon>
						<md-tooltip md-direction="bottom"> {{review.reviewee.firstName }} {{ review.reviewee.lastName }} </md-tooltip>
				</div>
				<div layout-align="center start" flex="90">
					<md-list-item>
						<div layout="column" layout-padding layout-wrap layout-fill style="padding-bottom: 5px;  max-width: 65%;">
							  <md-whiteframe class="md-whiteframe-1dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout="" layout-align="start center">
							    <span>Overall Average: {{getOverall('reviewee')}}</span>
							  </md-whiteframe>
							  <md-whiteframe class="md-whiteframe-2dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout="" layout-align="start center">
							    <span>Core Competencies: {{getCoreAvgScore('reviewee')}}</span>
							  </md-whiteframe>
								<md-whiteframe class="md-whiteframe-3dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout="" layout-align="start center">
							 	 <span>Internal Contributions: {{getInternalAvgScore('reviewee')}}</span>
								</md-whiteframe>
						</div>
					</md-list-item>
				</div>
	</md-list-item> </md-grid-tile>
	
	<md-grid-tile class="gray" md-rowspan="1" md-colspan="1" md-colspan-sm="1">
			<md-list-item>
				<div layout="column" layout-align="center start" layout-margin>
					<md-icon md-font-icon="fa fa-user fa-lg" class="md-primary fa fa-user fa-4x" style="color: #9E9E9E; height: auto;"
							aria-hidden="true" layout-margin> </md-icon>
						<md-tooltip md-direction="bottom"> {{ review.reviewee.counselor.firstName }} {{ review.reviewee.counselor.lastName }} </md-tooltip>
				</div>
					<div layout-align="center start" flex="90">
					<md-list-item>
						<div layout="column" layout-padding layout-wrap layout-fill style="padding-bottom: 5px;  max-width: 65%;">
							  <md-whiteframe class="md-whiteframe-1dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout="" layout-align="start center">
							    <span>Overall Average: {{getOverall('reviewer')}}</span>
							  </md-whiteframe>
							  <md-whiteframe class="md-whiteframe-2dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout="" layout-align="start center">
							    <span>Core Competencies: {{getCoreAvgScore('reviewer')}}</span>
							  </md-whiteframe>
								<md-whiteframe class="md-whiteframe-3dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout="" layout-align="start center">
							 	 <span>Internal Contributions: {{getInternalAvgScore('reviewer')}}</span>
								</md-whiteframe>
						</div>
					</md-list-item>
				</div>
					</md-list-item> </md-grid-tile>
	
	</md-grid-list> </md-card-content> </md-card>


	<md-card> <md-toolbar>
	<div class="overall-header md-toolbar-tools">
		<h2>Summary</h2>
	</div>
	</md-toolbar> <md-card-content> <md-list> <md-list-item
		ng-click="viewFeedback(reviewerFeedback,'reviewer' , $event)">
	<div layout="column" layout-align="start center" layout-margin>
		<md-icon md-font-icon="fa fa-user fa-4x"
			class="md-primary fa fa-user fa-4x" style="height: auto;"
			aria-hidden="true" layout-margin> </md-icon>
		<md-tooltip md-direction="bottom">
		{{reviewerFeedback.author.firstName}}
		{{reviewerFeedback.author.lastName}} </md-tooltip>
		<p>{{reviewerFeedback.author.firstName}}</p>
	</div>
	<div layout-align="start center" flex="90">
		<p style="line-height: 1.5em;">
			{{reviewerFeedback.overallComment}}</p>
		<md-icon md-font-icon="fa fa-edit fa-lg" class="md-secondary"
			aria-label="Edit"></md-icon>
	</div>
	</md-list-item> <md-list-item
		ng-click="viewFeedback(revieweeFeedback,'reviewee', $event)">
	<div layout="column" layout-align="start center" layout-margin>
		<md-icon md-font-icon="fa fa-user fa-lg"
			class="md-primary fa fa-user fa-4x" style="height: auto;"
			aria-hidden="true" layout-margin> </md-icon>
		<md-tooltip md-direction="bottom">
		{{revieweeFeedback.author.firstName}}
		{{revieweeFeedback.author.lastName}} </md-tooltip>
		<p>{{revieweeFeedback.author.firstName}}</p>
	</div>
	<div layout-align="start center" flex="90">
		<p style="line-height: 1.5em;">
			{{revieweeFeedback.overallComment}}</p>
		<md-icon md-font-icon="fa fa-edit fa-lg" class="md-secondary"
			aria-label="Edit"></md-icon>
	</div>
	</md-list-item> </md-list> </md-card-content> </md-card>
</div>



