<md-dialog aria-label="Overall Feedback" flex="66">
  <form name="evalForm" novalidate>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Overall Feedback</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="close()">
          <md-icon md-font-icon="fa fa-lg fa-close" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content class="md-dialog-content">
      
     <!--DELETE ME-->
      
      <ng-form name="feedbackForm">
        <md-input-container class="md-block">
          <label>Overall Comment</label>
          <textarea name="overallComment" ng-model="feedback.overallComment" md-maxlength="250" rows="1" ng-required="true"></textarea>
          <div ng-messages="feedbackForm.overallComment.$error" ng-if="ratingForm.comment.$touched">
            <div ng-message="required">
              <span translate="global.messages.validate.field.enter.required" translate-values="{name: '{{ 'review.comments' | translate }}'}">Please enter a value.</span>
            </div>
          </div>
        </md-input-container>
        <md-input-container layout="row" layout-wrap layout-padding ng-hide="userRole!='reviewer'">
          <div flex-sm="50" flex-order-sm="1" layout layout-align="start center">
              <span class="md-body-1">Overall Score</span>
          </div>
        <div flex flex-sm="100" flex-order-sm="3">
          <md-slider md-discrete name="overallScore" ng-model="feedback.overallScore" step="0.5" min="1" max="5" class="md-primary" aria-label="Overall Score"></md-slider>
        </div>
        <div flex-sm="50" flex-order-sm="2" layout layout-align="end center">
          <span class="md-headline">{{feedback.overallScore}}</span>
        </div>
      </md-input-container>
      </ng-form>
    </md-dialog-content>
    
    <!--// DELETE ME-->
    
    <div class="md-actions" layout="row">
      <span flex></span>
      <md-button ng-click="close()" class="md-primary">Close</md-button>
    </div>
  </form>
</md-dialog>