<div ng-cloak>
  <div layout-padding>
    <h2>Composite Scores</h2>
    <div ng-repeat="(category, questions) in categories">
      <div class="md-title">{{ category }}</div>
      <div layout-gt-xs="row" class="md-body-1">
        <div layout="row" flex-gt-xs>
          <span flex ng-show="showRevieweeRating()">
            <i class="fa fa-comment-o"></i>
            Self: {{ showRevieweeRating() ? getAvgScore(getRatings(questions, 'reviewee')) : 0 }}
          </span>
          <span flex>
            <i class="fa fa-comment"></i>
            Reviewer: {{ showReviewerRating() ? getAvgScore(getRatings(questions, 'reviewer')) : 0 }}
          </span>
        </div>
        <div layout="row" flex-gt-xs>
          <span flex ng-show="isAnnual() || showPeerRatings()">
            <i class="fa fa-comments-o"></i>
            Peers: {{ showPeerRatings() ? getAvgScore(getRatings(questions, 'peer')) : 0 }}
          </span>
          <span flex ng-show="showAllRating()">
            <i class="fa fa-comments"></i>
            All: {{ showAllRating() ? getAvgScore(getRatings(questions)) : 0 }}
          </span>
        </div>
      </div>
    </div>
    <h2>Average Scores</h2>
    <div layout-gt-xs="row" class="md-body-2">
      <div layout="row" flex-gt-xs>
        <span flex ng-show="showRevieweeRating()">
          <i class="fa fa-comment-o"></i>
          Self: {{ showRevieweeRating() ? getAllAvgScore(categories, 'reviewee') : 0 }}
        </span>
        <span flex>
          <i class="fa fa-comment"></i>
          Reviewer: {{ showReviewerRating() ? getAllAvgScore(categories, 'reviewer') : 0 }}
        </span>
      </div>
      <div layout="row" flex-gt-xs>
        <span flex  ng-show="isAnnual() || showPeerRatings()">
          <i class="fa fa-comments-o"></i>
          Peers: {{ showPeerRatings() ? getAllAvgScore(categories, 'peer') : 0 }}
        </span>
        <span flex ng-show="showAllRating()">
          <i class="fa fa-comments"></i>
          All: {{ showAllRating() ? getAllAvgScore(categories) : 0 }}
        </span>
      </div>
    </div>
    <md-divider></md-divider>
    <h2>Overall Summary</h2>
    <div class="md-title" ng-show="!reviewerFeedback.author && !revieweeFeedback.author ">
        No summary feedback available at this time.
      </div>
    <div ng-form="reviewerOverallForm">
      <div class="md-title" ng-show="reviewerFeedback.author">
        Reviewer Summary by: {{reviewerFeedback.author.firstName}} {{reviewerFeedback.author.lastName}}
      </div>
      <div ng-show="reviewerFeedback.editable">
        <md-input-container class="md-block" flex>
          <label>Overall Comment</label>
          <textarea 
            ng-model="reviewerFeedback.overallComment"
            ng-blur="updateFeedback(reviewerFeedback)"
            md-maxlength="3000"
            name="comment"
            rows="5"
            required
            md-detect-hidden
            ng-disabled="reviewerOverallDisabled"></textarea>
            <div ng-messages="reviewerOverallForm.comment.$error" ng-if='reviewerOverallForm.comment.$dirty || overallErrors' ng-cloak>
              <div ng-message="required">Comment is required</div>
              <div ng-message="md-maxlength">
                  <span translate="global.messages.validate.field.maxlength" translate-values="{name: '{{ 'Comment' | translate }}', number: '{{ '3000' | translate}}'}">Comment cannot be longer than 3000 characters.</span>
              </div>
            </div>
        </md-input-container>
        <md-input-container layout="row" layout-wrap flex>
          <div layout layout-align="start center">
            <span class="md-body-1">Overall Score &nbsp; &nbsp; </span>
          </div>
          <div flex>
            <md-slider md-discrete name="overallScore" ng-model="reviewerFeedback.overallScore" step="0.5" min="1" max="5" class="md-primary" aria-label="Overall Score" ng-change="updateFeedback(reviewerFeedback)" name="score" required ng-disabled="reviewerOverallDisabled"></md-slider>
            <div class="etm-field-error" ng-if="!reviewerFeedback.overallScore && overallErrors" ng-cloak>
                <div>Score is required</div>
              </div>
          </div>
          <i ng-if="!reviewerFeedback.overallScore && overallErrors" class="fa fa-exclamation-circle etm-error"></i>
          <div layout layout-align="end center">
            <span class="md-headline">&nbsp;  {{reviewerFeedback.overallScore}}</span>
          </div>
        </md-input-container>
      </div>
      <div layout="row" layout-align="start center" ng-show="!reviewerFeedback.editable">
        <div class="md-headline">{{reviewerFeedback.overallScore}} &nbsp;</div>
        <p>{{reviewerFeedback.overallComment}}</p>
      </div>
    </div>
    <div class="md-title" ng-show="revieweeFeedback.author">
      Self Summary by: {{revieweeFeedback.author.firstName}} {{revieweeFeedback.author.lastName}}
    </div>
    <div ng-show="revieweeFeedback.editable">
      <div ng-show="revieweeFeedback.editable" ng-form="revieweeOverall">
        <md-input-container class="md-block" flex ng-show="revieweeFeedback.editable">
          <label>Overall Comment</label>
          <textarea
            ng-model="revieweeFeedback.overallComment"
            md-maxlength="3000"
            ng-blur="updateFeedback(revieweeFeedback)"
            rows="5"
            name="comment"
            md-detect-hidden
            ng-disabled="revieweeOverallDisabled"></textarea>
        </md-input-container>
      </div>
    </div>
    <div ng-show="!revieweeFeedback.editable">
      <p>{{revieweeFeedback.overallComment}}</p>
    </div>
  </div>
</div>



