<md-dialog flex="65">
  <form name="mailForm" novalidate>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{message.subject}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-font-icon="fa fa-lg fa-close" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content class="md-dialog-content">
      <h4>{{message.from}} to {{message.to}}</h4>
      <iframe style="width: 100%; height: 650px; border: solid #CC1F20 3px;" ng-src="{{htmlSrc}}"></iframe>
    </md-dialog-content>
    <md-dialog-actions>
      <span flex></span>
      <md-button ng-click="cancel()" class="md-primary" >Cancel</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
