<div ng-cloak layout="column" layout-padding>
  <md-autocomplete md-selected-item="selectedItem" md-item-text="user.firstName + ' ' + user.lastName" md-selected-item-change="peerSelected(user)" md-search-text="searchText" md-min-length="3" placeholder="Type here to search for peers..." md-items="user in getMatches(searchText)">
    <span md-highlight-text="searchText">{{user.firstName}} {{user.lastName}}</span>
  </md-autocomplete>
</div>

<div ng-cloak layout="column" layout-padding>
      <table ng-table class="table">
        <tr ng-repeat="user in peers | orderBy:'lastName'">
          <td title="'Name'">
            <h4>{{user.firstName}} {{user.lastName}}</h4>
          </td>
          <td>
            <h4 translate="review.peers.status">Status:</h4>
            <p>Not Sent</p>
          </td>
          <td>
            <md-icon id="email-peers-icon" ng-click="sendEmail(user)" md-font-icon="fa fa-envelope-o fa-lg" class="ng-scope ng-isolate-scope md-default-theme md-font fa fa-envelope-o fa-lg"></md-icon>
          </td>
          <td>
            <md-icon id="delete-peers-icon" ng-click="deletePeer(user, $event)" md-font-icon="fa fa-trash-o fa-lg" class="ng-scope ng-isolate-scope md-default-theme md-font fa fa-trash-o fa-lg"></md-icon>
          </td>
        </tr>
      </table>
</div>      