<div ng-cloak>
  <md-autocomplete md-selected-item="selectedItem" md-item-text="user.firstName + ' ' + user.lastName" md-selected-item-change="peerSelected(user)" md-search-text="searchText" md-min-length="3" placeholder="Type here to search for peers..." md-items="user in getMatches(searchText)">
    <md-item-template>
      <span md-highlight-text="searchText">{{user.firstName}} {{user.lastName}}</span>
    </md-item-template>
    <md-not-found>No peers matching "{{ searchText }}" were found.</md-not-found>
  </md-autocomplete>
  <br/>
  <div id="peer-actions">
    <md-button ng-repeat="action in availableActions()" class="md-raised peer-action" ng-click="performAction(action)" translate="{{ action.translateKey }}"></md-button>
  </div>
  <md-list-item ng-repeat="user in peers | orderBy:'lastName'">
    <md-checkbox ng-model="user.selected" class="md-primary"></md-checkbox>
    <h4 class="peer-name">{{user.firstName}} {{user.lastName}}</h4>
    <p>Not Sent</p>
    <md-icon md-font-icon="fa fa-trash-o fa-lg" class="md-secondary" ng-click="deletePeer(user, $event)" aria-label="Remove Peer"></md-icon>
    <md-divider></md-divider>
  </md-list-item>
</div>
  