<div ng-cloak>
  <md-content md-scroll-y class="md-whiteframe-z1">
    <div layout="column" layout-padding>
      <h2 translate="projects.title">Manage Users</h2>
    
      <md-input-container>
        <label for="filter" translate="projects.filter">Filter</label>
        <input type="text" id="filter" ng-model="filter">
      </md-input-container>

      <md-list>
        <md-list-item ng-repeat="user in users | filter:filter" class="md-3-line" ng-click="viewUserDetails(user, $event)">
          <md-icon md-font-icon="fa fa-thumb-tack fa-3x" class="md-avatar md-primary"></md-icon>
          <div class="md-list-item-text">
            <h3>{{user.firstName}} {{user.lastName}}</h3>
            <h4>{{user.login}}</h4>
            <p>{{user.email}}</p>
            <md-icon md-font-icon="fa fa-trash-o fa-lg" class="md-secondary" ng-click="deleteUser(user, $event)" aria-label="Delete User"></md-icon>
          </div>
        </md-list-item>
      </md-list>

    </div>
  </md-content>
</div>
