<md-dialog aria-label="{{ dialogType == 'add' ? 'Add New Project' : project.name  }}" flex="65">
  <form name="projectForm">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{ dialogType == 'add' ? 'Add New Project' : project.name  }}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-font-icon="fa fa-lg fa-close" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content class="md-dialog-content">
      <h3>Project Details</h3>
          <md-input-container class="md-block" flex-gt-xs>
            <label>Project Name</label>
            <input type="text" name="project name" ng-model="project.name" required/>
            <div ng-messages="projectForm.name.$error" ng-show="projectForm.name.$dirty">
              <div ng-message="required">This is required!</div>
              <div ng-message="minlength">This is too short!</div>
            </div>
          </md-input-container>
        <md-input-container class="md-block" flex-gt-xs>
          <label>Project Description</label>
          <input type="text" name="project description" ng-model="project.description" required/>
          <div ng-messages="projectForm.description.$error" ng-show="projectForm.description.$dirty">
            <div ng-message="required">This is required!</div>
            <div ng-message="minlength">This is too short!</div>
          </div>
        </md-input-container>
        <div layout-gt-sm="row">
          <md-autocomplete
              flex-gt-xs
              md-no-cache="true"
              md-input-name="manager"
              md-selected-item="selectedManager"
              md-item-text="manager.firstName + ' ' + manager.lastName"
              md-selected-item-change="managerSelected(manager)"
              md-search-text="managerSearchText"
              md-min-length="3"
              md-items="manager in getMatches(managerSearchText)"
              md-floating-label="Project Manager">
            <md-item-template>
              <span md-highlight-text="managerSearchText" md-highlight-flags="^i">
                {{manager.firstName}} {{manager.lastName}}
              </span>
            </md-item-template>
            <div ng-messages="searchForm.autocompleteField.$error" ng-if="searchForm.autocompleteField.$touched">
              <div ng-message="required">This is required!</div>
              <div ng-message="minlength">This is too short!</div>
            </div>
          </md-autocomplete>
          <md-input-container class="md-block" flex-gt-xs>
            <label>Client</label>
            <input type="text" name="Client" ng-model="project.client" required/>
            <div ng-messages="projectForm.client.$error" ng-show="projectForm.client.$dirty">
              <div ng-message="required">This is required!</div>
              <div ng-message="minlength">This is too short!</div>
            </div>
          </md-input-container>
        </div>
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-xs>
            <label>Start Date</label>
            <input type="date" name="startDate" ng-model="project.startDate" required/>
            <div ng-messages="projectForm.startDate.$error">
              <div ng-message="required">This is required!</div>
              <div ng-message="date">Please select a valid value.</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block" flex-gt-xs>
          <label>End Date</label>
          <input type="date" name="endDate" ng-model="project.endDate" required/>
            <div ng-messages="projectForm.endDate.$error">
            <div ng-message="required">This is required!</div>
            <div ng-message="date">Please select a valid value.</div>
          </div>
          </md-input-container>
        </div>
      <md-chips ng-model="project.projectMembers" md-autocomplete-snap
                md-transform-chip="transformChip($chip)"
                md-require-match="true">
        <md-autocomplete
            md-no-cache="true"
            md-selected-item="selectedMember"
            md-search-text="memberSearchText"
            md-items="member in getMatches(memberSearchText, true)"
            md-item-text="member.firstName+' '+member.lastName"
            md-min-length="3"
            placeholder="Add member">
          <span md-highlight-text="memberSearchText">{{member.firstName}} {{member.lastName}}</span>
        </md-autocomplete>
        <md-chip-template>
        <span>
          <strong>{{$chip.firstName}} {{$chip.lastName}}</strong>
          <em>(member)</em>
        </span>
        </md-chip-template>
      </md-chips>
    </md-dialog-content>
    <md-dialog-actions>
      <span flex></span>
      <md-button ng-click="cancel()" class="md-primary">Cancel</md-button>
      <md-button ng-click="save()" class="md-primary">Save</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
