<md-dialog aria-label="Guidelines for Adding Skills" flex="65">
  <form name="skillGuidelineForm" novalidate>
    <md-toolbar class="md-accent md-whiteframe-z1">
      <div class="md-toolbar-tools">
        <h2>Guidelines for Adding Skills</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="close()">
          <md-icon md-font-icon="fa fa-lg fa-close" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content class="md-dialog-content">
    <ol>
      <li><p>No Ability : As it sounds</p></li>
      <li>Basic Ability : Have basic understanding or training but no practical experience (no client work)</li>
      <li>Functional Ability : Practical experience, used with clients, Intermediate knowledge</li>
      <li> Senior Ability : Experienced, deep knowledge, multiple engagements/multiple project experiences</li>
      <li>Ninja Ability : Advanced skills, very senior, Can train, mentor, and demonstrate most if not all facets of competency in this
          area.</li>
    </ol>
    </md-dialog-content>
    <md-dialog-actions>
      <span flex></span>
      <md-button ng-click="close()" class="md-primary">Close</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
