<md-toolbar class="md-accent md-whiteframe-z1">
  <h1 class="md-toolbar-tools">
    <img class="perficient-logo-sm" src="/assets/images/Perficient-Logo-Reversed_Small.png" alt="Perficient Logo" height="40px"/>
    <a ui-sref="home">
      <span hide-xs translate="global.title">Enterprise Talent Management</span>
      <span hide-gt-xs translate="global.abbr">ETM</span>
      <span hide-xs class="toolbar-version">v{{VERSION}}</span>
    </a>
    <span flex></span>
    <md-button ui-sref="settings" ng-show="isAuthenticated() && $mdMedia('gt-sm')">
      {{account.firstName}} {{account.lastName}} <i class="fa fa-lg fa-user"></i>
    </md-button>
    <md-button ui-sref="settings" ng-show="isAuthenticated() && ($mdMedia('sm') || $mdMedia('xs'))" class="md-icon-button md-primary" aria-label="Show User Profile">
      <i class="fa fa-lg fa-user"></i>
    </md-button>
    <md-button class="md-icon-button md-primary" ng-show="isAuthenticated() && ($mdMedia('md') || $mdMedia('sm') || $mdMedia('xs'))" ng-click="toggleSideNav()" aria-label="Open Right Nav">
      <i class="fa fa-lg fa-navicon"></i>
    </md-button>
  </h1>
</md-toolbar>
