<md-toolbar class="md-whiteframe-z1">
  <h1 class="md-toolbar-tools">
    <img class="perficient-logo-sm" src="/assets/images/Perficient-Logo-Reversed_Small.png" alt="Perficient Logo" height="50px"/>
    <a href="#">
      <span hide-sm translate="global.title">Enterprise Talent Management</span>
      <span hide-gt-sm translate="global.abbr">ETM</span>
      <span hide-sm class="toolbar-version">v{{VERSION}}</span>
    </a>
    <span flex></span>
    <md-button hide-sm ui-sref="settings" ng-show="isAuthenticated()">
      {{account.firstName}} {{account.lastName}} <i class="fa fa-lg fa-user"></i>
    </md-button>
    <md-button hide-gt-sm ui-sref="settings" ng-show="isAuthenticated()" class="md-fab md-primary">
      <i class="fa fa-lg fa-user"></i>
    </md-button>
    <md-button hide-gt-md class="md-fab md-primary" ng-click="toggleRightNav()" aria-label="Open Right Nav">
      <i class="fa fa-lg fa-navicon"></i>
    </md-button>
  </h1>
</md-toolbar>

