<div ng-cloak>
  <md-content md-scroll-y class="md-whiteframe-z1">
    <div layout="column" layout-padding>
      <h2 translate="health.title">Application Health Check</h2>
      <p>
        <md-button class="md-raised md-primary" ng-click="refresh()">
          <i class="fa fa-refresh"></i>&nbsp;{{ 'health.refresh.button' | translate }}
        </md-button>
      </p>
    
      <md-list>
        <md-list-item ng-repeat="(k, v) in healthCheck" ng-if="k != 'status'">
          <i class="md-avatar fa fa-2x" ng-class="getIconClass(v.status)" style="color: {{ getIconColor(v.status) }};"></i>
          <p>{{ 'health.indicator.' + k | translate }} <pre ng-if="v.error">{{ v.error }}</pre></p>
          <md-divider ng-if="!$last"></md-divider>
        </md-list-item>
      </md-list>
    </div>
  </md-content>
</div>
