<md-dialog aria-label="Create Skill Category" flex="65">
  <form name="addSkillCategoryForm">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Create Skill Category</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-font-icon="fa fa-lg fa-close" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content class="md-dialog-content">
      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Title</label>
          <input type="text" name="title" ng-model="title" minlength="2"/>
          <div ng-messages="addSkillCategoryForm.title.$error" ng-show="addSkillCategoryForm.title.$dirty">
            <div ng-message="minlength">This is too short!</div>
          </div>
        </md-input-container>
      </div>
    </md-dialog-content>
    <div class="md-actions" layout="row">
      <span flex></span>
      <md-button ng-click="cancel()" class="md-primary">Cancel</md-button>
      <md-button ng-click="saveSkillCategory(title)" class="md-primary">Save</md-button>
    </div>
  </form>
</md-dialog>
