<md-dialog aria-label="List of Skills in {{ skillCategory.title }}" flex="50" style="margin-top:40px;">
  <form name="skillCategoryForm">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>List of Skills in Category- {{ skillCategory.title }}</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon md-font-icon="fa fa-lg fa-close" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content class="md-dialog-content">
    <md-list>
      <md-list-item ng-repeat="skill in skillCategory.skills | filter:filter" class="md-3-line">
        <div layout ="row" layout-align="space-between center" style="width:100%"> 
          <div class="md-list-item-text" flex layout-align="start center" >
            <span class="md-title">{{ skill.name }}</span>
          </div>
          <div layout-align="end center">
            <i class="fa fa-lg {{skill.enabled ? 'fa fa-toggle-on' : 'fa fa-toggle-off'}}" ng-click="enableDisableSkill(skill, $event)" style="padding-right:10px" rel ="popover" title="Enable/Disable"></i>
            <i class="fa fa-lg fa-trash" ng-click="deleteSkill(skillCategory, skill, $event)" rel ="popover" title="Delete Skill"></i>
          </div>
       </div>
     </md-list-item>
    </md-list>
  </md-dialog-content>
  </form>
</md-dialog>
