<div>
  <h2>Reviews</h2>
  <md-divider></md-divider>
  <div>
    <div layout-gt-xs="row" layout="column">
      <md-input-container class="md-block" flex-gt-xs="60">
        <label for="query">Filter</label>
        <input type="text" id="query" ng-model="query">
      </md-input-container>
      <div  layout="row" flex-gt-xs="40">
        <md-input-container flex="80" class="md-block">
          <label>Order By</label>
          <md-select ng-model="orderByExpression">
            <md-option ng-repeat="orderByItem in orderByItems" value="{{ orderByItem.value }}">
              {{ orderByItem.key }}
            </md-option>
          </md-select>
        </md-input-container>
        <div flex-xs="20">
            <md-button class="md-primary md-mini" ng-click="reverseOrderFunction()"><span class="reviewOrder">ASC</span><span class="reviewOrder" hidden>DESC</span></md-button>
        </div>
      </div>
    </div>
  </div>
  <div layout="row" layout-wrap>
  <md-card class="etm-review-card" flex ng-repeat="review in reviews | orderBy:orderByExpression:reverseOrder | filter:reviewSearch">
    <md-card-title>
      <md-card-title-text>
        <span>{{ review.reviewType.name }}</span>
        <span class="md-subhead">for {{ review.reviewee.firstName }} {{ review.reviewee.lastName }}</span>
        <span class="md-subhead">by {{ review.reviewer.firstName }} {{ review.reviewer.lastName }}</span>
      </md-card-title-text>
      <md-card-title-media>
        <div layout="row" layout-align="center">
          <div class="etm-progress-circular">
            <div class="etm-progress-name">{{ review.reviewStatus.name }}</div>
          </div>
          <md-progress-circular class="md-accent" md-mode="determinate" md-diameter="75" value="{{ getReviewProgress(review.reviewStatus) | number:0 }}">
	          <md-tooltip>
	            {{ review.reviewStatus.name }}
	          </md-tooltip>
          </md-progress-circular>
        </div>
        <md-button  class="md-primary" ng-click="goToReview(review.id)" >VIEW</md-button>
      </md-card-title-media>
    </md-card-title>
  </md-card>
</div>
</div>
